@media screen  and (min-width: 800px){
    .logo {
        display: flex;
        width: 60%;
        height: auto;
        margin: auto;
    }
    
    .wrapper {
    
        padding: 5%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        grid-auto-rows: minmax(50px, auto);
        flex: 1;
    
    }
    .wrapper > div {
        flex: 1;
    
    }
    .one {
        grid-column: 2;
        grid-row: 1;
        
    }
    
    .two { 
        grid-column: 3;
        grid-row: 1;
    
    }
    
    .three {
        grid-column: 2;
        grid-row: 2;
    }
    
    .four {
        grid-column: 3;
        grid-row: 2;
    }
    
    .five {
        grid-column: 2;
        grid-row: 3;
    }
    .btn {
        color : #000000;
        font-family: 'Bitter', serif;
        text-decoration: none;
        width: 85%;
        height: 100%;
        font-weight: 800%;
        font-size: 120%;
        background-color: #FFE521;
        border-radius: 14px;
        border: 2px solid #FFE521;
        text-align: center;
         
    }}
    
    @media screen and (max-width: 799px){
        .logo{
                display: flex;
                width: 80%;
                height: auto;
                margin: auto;
         }
        .btn {
            color : #000000;
            font-family: 'Bitter', serif;
            text-decoration: none;
            width: 100%;
            height: 90%;
            font-weight: 600%;
            font-size: 100%;
            background-color: #FFE521;
            border-radius: 8px;
            border: 2px solid #FFE521;
            text-align: center;
           
        }   
        .wrapper {
    
            padding: 8% 0%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
            grid-auto-rows: minmax(50px, auto);
             
        }
    
        .one {
            grid-column: 2;
            grid-row: 1;
            
        }
        
        .two { 
            grid-column: 2;
            grid-row: 2;
        
        }
        
        .three {
            grid-column: 2;
            grid-row: 3;
        }
        
        .four {
            grid-column: 2;
            grid-row: 4;
        }
        
        .five {
            grid-column: 2;
            grid-row: 5;
        }
    } 
    