.logo {
    display: flex;
    width: 60%;
    height: auto;
    margin: auto;
}

/*.container{
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(300px, auto);
 }*/
 .logo{
     grid-column: 2;
     grid-row: 1;
 }
.wrapper {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto)
    
}
.wrapper > div {
    flex: 1;

}
.one {
    grid-column: 2;
    grid-row: 1;
    
}

.two { 
    grid-column: 3;
    grid-row: 1;

}

.three {
    grid-column: 2;
    grid-row: 2;
}

.four {
    grid-column: 3;
    grid-row: 2;
}

.five {
    grid-column: 2;
    grid-row: 3;
}
.btn {
    color : #000000;
    font-family: 'Bitter', serif;
    text-decoration: none;
    width: 85%;
    height: 100%;
    font-weight: 800%;
    font-size: 120%;
    background-color: #FFE521;
    border-radius: 14px;
    border: 2px solid #FFE521;
    text-align: center;
     
}


#ambos {
    display : block;
    margin : auto;
}

@media 