@font-face {
    font-family: Bitter-Regular;
    src: url(Bitter-Regular.otf);
}

@font-face {
    font-family: OpenSans-Extra;
    src: url(OpenSans-ExtraBold.ttf);
}

@font-face {
    font-family: OpenSans-Regular;
    src: url(OpenSans-Regular.ttf);
}

body {
    margin: 0;
    font-family: Bitter-Regular;

}

.logo {
    display: flex;
    width: 60%;
    height: auto;
    margin: auto;
}


h4{
    width: 100%;
    background-color: #FFE521;

}

#btn-menu{
    display: none;

}

h4 label {
    display: none;
    width: 30 px;
    height: 30px;
    padding: 10px;
    cursor: pointer;
}

.wrapper ul {
    margin: 0;
    list-style: none;
    padding:0;
    display: flex;
    justify-content: center;
  

}

.wrapper li {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    text-align: center;
    flex-grow: 1;
    border-right: 1px solid #ffffff;
    margin: 0;

}

.btn1 {
    color : #ffffff;
    font-family: 'Bitter', serif;
    text-decoration: none;
    width: auto;
    height: auto;
    font-weight: 800%;
    font-size: 80%;
    background-color: #000000;
    border-radius: 0px;
    border: 2px solid #000000;
    text-align: center;
     
}
#listCo, #buscar{
    font-family: 'Bitter', serif;
    width: auto;
    height: auto;
    font-style: italic;
    font-size: 70%;
    color: #848484;
    
}

.mainWrapper {
    font-family: Bitter-regular;
    font-size: 120%;
    width: 100%;
    height: auto;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    
   
}

@media (max-width: 768px) {
    h4 label {
        display: block;
        margin: 0;
    }

    .wrapper{
        position: absolute;
        background: #FFE521;
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
        

    }

    .wrapper ul {
        flex-direction: column;
        
    }

    .wrapper li{
        border-top: 1px solid #ffffff;
    
    }

    #btn-menu:checked ~ .wrapper{
        margin: 0;
   }

   .mainWrapper {
    font-family: Bitter-regular;
    font-size: 100%;
    width: 100%;
    height: auto;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    
    }
   #seleccion {
       width: 100%;
   
   }

   #busqueda {
       width: 100%;
    
   }

}
/* @media screen  and (min-width: 800px){
    .logo {
        display: flex;
        width: 60%;
        height: auto;
        margin: auto;
    }
    
    .wrapper {
    
        padding: 5% 2% 0% 2%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 1px;
        grid-auto-rows: minmax(50px, auto);
        flex: 1;
        font-family: Bitter-regular;
        
    
    }

    .mainWrapper {
        font-family: Bitter-regular;
        padding: 5% 2% 0% 2%;
        font-size: 120%;
        width: 100%;
        height: auto;
        display: inline-block;
        padding: 2% 20% 0% 20%;
        margin: 0%;
       
    }

      
    
    .btn {
        color : #000000;
        font-family: Bitter-Regular;
        text-decoration: none;
        width: 100%;
        height: 100%;
        font-weight: 800%;
        font-size: 120%;
        background-color: #FFE521;
        border-radius: 0px;
        border: 2px solid #FFE521;
        text-align: center;
        cursor: pointer;
         
    }

    .btn1 {
        color : #ffffff;
        font-family: 'Bitter', serif;
        text-decoration: none;
        width: auto;
        height: auto;
        font-weight: 800%;
        font-size: 80%;
        background-color: #000000;
        border-radius: 0px;
        border: 2px solid #000000;
        text-align: center;
         
    }
    #listCo, #buscar{
        font-family: 'Bitter', serif;
        width: auto;
        height: auto;
        font-style: italic;
        font-size: 70%;
        color: #848484;
        
    }


  
}
    
    @media screen and (max-width: 799px){
        .logo{
                display: flex;
                width: 80%;
                height: auto;
                margin: auto;
         }
        .btn {
            color : #000000;
            font-family: 'Bitter', serif;
            text-decoration: none;
            width: 100%;
            height: 90%;
            font-weight: 600%;
            font-size: 100%;
            background-color: #FFE521;
            border-radius: 8px;
            border: 2px solid #FFE521;
            text-align: center;
           
        }   
        .wrapper {
    
            padding: 8% 0%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
            grid-auto-rows: minmax(50px, auto);
             
        }
    
        .one {
            grid-column: 2;
            grid-row: 1;
            
        }
        
        .two { 
            grid-column: 2;
            grid-row: 2;
        
        }
        
        .three {
            grid-column: 2;
            grid-row: 3;
        }
        
        .four {
            grid-column: 2;
            grid-row: 4;
        }
        
        .five {
            grid-column: 2;
            grid-row: 5;
        }
    }  */
